[Unit]
Description=bt_monitor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=%i
ExecStart=/usr/bin/python3 -u /home/pi/bt_monitor/main.py

[Install]
WantedBy=multi-user.target
